// Bootstrap
@import 'bootstrap/bootstrap.scss';

@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  font-family: "Varela Round", "Roboto", verdana, sans-serif;
  position: relative;
}

img.gallery-image {
  cursor: pointer;
}

.lightbox {
  display: none;

  &--visible {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000, .9);
    color: #fff;

    .featuredImage {
      width: 75%;
      height: auto;
      margin: 0 auto;
    }

    .close-button {
      position: absolute;
      width: 24px;
      height: 24px;
      right: 0;
      margin: 48px 56px;
      background: url("/assets/images/close.svg") no-repeat center center;
      border: none;
      cursor: pointer;
    }
  }
}
