// Bootstrap
@import 'bootstrap/bootstrap.scss';

@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  font-family: "Varela Round", "Roboto", verdana, sans-serif;
  position: relative;
}

.lightbox {
  display: none;

  &--visible {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000, .9);
    color: #fff;

    .close-button {
      width: 50px;
      height: 50px;
      margin: 48px 56px;
      background: url(data:image/svg;base64,Cjxzdmcgd2lkdGg9IjM2IiBoZWlnaHQ9IjM2IiB2aWV3Qm94PSIwIDAgMzYgMzYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPmNsb3NlPC90aXRsZT48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxjaXJjbGUgZmlsbD0iIiBjeD0iMTgiIGN5PSIxOCIgcj0iMTgiLz48cGF0aCBkPSJNMTggMTcuMDJsLTUuODc0LTUuODczLS45OC45NzlMMTcuMDIyIDE4bC01Ljg3NCA1Ljg3NC45NzkuOThMMTggMTguOTc4bDUuODc0IDUuODc0Ljk4LS45NzlMMTguOTc4IDE4bDUuODc0LTUuODc0LS45NzktLjk4TDE4IDE3LjAyMnoiIGZpbGw9IiNmZmYiLz48L2c+PC9zdmc+Cg==) no repeat center center;
    }
  }
}
